.menu {
	padding: 0px;
	margin: 0px;
	background-color: #EDEDED
	list-style: none;
	text-decoration: none;
}

.menu li {
	padding: 2px 10px;
	display: inline-flex;

}

.menu li a {
		color: black;
		text-decoration: none;

}

.menu li a:hover {
	color: red;
	background-color: red;
	i

}