.Menu {
	background-color: black;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font: "Lucida Console", Monaco, monospace
	min-height : 60px;
	margin-bottom: 0px;
}

.itensmenu li:hover{
	color: white;
	background-color: red;
}

.text1 {
	font-color: black;
	position: absolute;
	left : 250px;
	top: 200px;
}

.coluna1 {
	background-color: #E7E7E7;
	height: 200px;
	padding-top: 60px;
}

.coluna2 {

	height: 300px;
	padding-top: 100px;
}

